.pokemon-card{
display: none;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.pokemon-card .card-top{

    padding: 30px 40px 0;
}

.pokemon-card .name{
    margin-bottom: 5px;
}

.pokemon-card .type{
    font-size: 12px;
 
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 0;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.pokemon-card .details{

    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-card .card-image{
    width: 350px;
    height: 350px;
    
}

.pokemon-card img{
    max-width: 100%;
}

.pokemon-card .card-info{

    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pokemon-card .card-info h3{

    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}


.pokemon-card .card-info .status .ability {
    padding: 0px;
    width: 180px;
  
   
}

.pokemon-card .card-info .status ul li{
    border-bottom: 1px solid #c3c4c5;
    padding: 0px 0px 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.pokemon-card .card-info .ability ul li{
    border-bottom: 1px solid #c3c4c5;
    padding: 0px 0px 5px;
    margin-bottom: 5px;
    font-size: 15px;
}



.fire-type{
    background-color: #ed8a8b;
}
.eletric-type{
    background-color: #fcc719;
}
.water-type{
    background-color: #76befe;
}

.grass-type{
    background-color: #49d0b0;
}

.dark-type{
    background-color: #ba68c8;
}

.dragon-type{
    background-color: #c29791;
}

.pokemon-card.open{
    display: block;
}


